body {
  background-image: url('../../img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter {
  background-image: radial-gradient(rgba(0, 0, 0, 0.35), rgb(0, 0, 0));
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
}

.btn-menu-mobile {
  position: fixed;
  top: 5.5%;
  right: 5%;
  background-color: #900000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes girinho {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.btn-menu-mobile i {
  color: #fff;
}

i.hide {
  display: none;
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  /* width: 80vw; */
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
}

.menu-mobile .container {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.menu-mobile a {
  margin-bottom: 15px;
  font-size: 18px;
  width: fit-content;
  border-bottom: 1px solid rgba(144, 0, 0, 0.4);
}

.menu__links {
  display: flex;
  align-items: center;
  width: 70%;
}

.menu__links a {
  flex: 1;
  text-align: center;
}
