@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

* {
  font-family: 'IM Fell English SC', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-smooth: 2em;
}

a {
  text-decoration: none;
}
