<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro · Relatos Assombrados</title>
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/ed7a8cb7c4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/autenticacao/index.css" />
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div class="filter"></div>
    <div class="alert alert-error"></div>
    <div class="alert alert-success"></div>
    <div class="login-container">
      <div class="login-form">
        <div class="logo-container">
          <img src="./img/logo.svg" alt="" class="logo" />
        </div>
        <form action="" class="form" id="form-cadastro">
          <p>Isso é tudo que precisamos saber</p>
          <input type="text" name="usuario" placeholder="Usuário" required />
          <input type="email" name="email" placeholder="Email" required />
          <input type="password" name="senha" placeholder="Senha" required />
          <select name="sexo" required>
            <option value="" selected disabled>Sexo</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Outro">Outro</option>
          </select>
          <button>Cadastrar</button>
        </form>
        <div class="link-container link-center">
          <a href="/login">Já possuo uma conta</a>
        </div>
      </div>
    </div>
    <script src="./js/cadastro.js"></script>
  </body>
</html>
