<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Início · Relatos Assombrados</title>
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/ed7a8cb7c4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
  </head>

  <body>
    <div class="filter"></div>
    <header class="menu">
      <!-- <nav class="menu__links">
        <a href="#">Início</a>
        <a href="#">Relatos</a>
      </nav> -->
      <a href="#">
        <img src="./img/logo.svg" />
      </a>
      <!-- <nav class="menu__links">
        <a href="#">Vídeos</a>
        <a href="#">Enviar</a>
      </nav> -->
      <div class="btn-menu-mobile">
        <i class="fas fa-bars open-icon"></i>
        <i class="fas fa-times hide close-icon"></i>
      </div>
      <nav class="menu-mobile">
        <div class="container">
          <a href="#">Início</a>
          <a href="#">Relatos</a>
          <a href="#">Vídeos</a>
          <a href="#">Enviar</a>
        </div>
      </nav>
    </header>
    <!-- <main>
      <section>
        <h5 class="titulo">MEU TOKEN <span id="token"></span></h5>
      </section>
    </main> -->
    <script src="./js/menu_mobile.js"></script>
  </body>
</html>
