<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Início · Relatos Assombrados</title>
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/ed7a8cb7c4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
  </head>

  <body>
    <div class="filter"></div>
    <header class="menu">
      <!-- <nav class="menu__links">
        <a href="#">Início</a>
        <a href="#">Relatos</a>
      </nav> -->
      <a href="#">
        <img src="./img/logo.svg" />
      </a>
      <!-- <nav class="menu__links">
        <a href="#">Vídeos</a>
        <a href="#">Enviar</a>
      </nav> -->
      <div class="btn-menu-mobile">
        <i class="fas fa-bars open-icon"></i>
        <i class="fas fa-times hide close-icon"></i>
      </div>
      <nav class="menu-mobile">
        <div class="container">
          <a href="#">Início</a>
          <a href="#">Relatos</a>
          <a href="#">Vídeos</a>
          <a href="#">Enviar</a>
        </div>
      </nav>
    </header>
    <main class="content">
      <section class="topic">
        <h4 class="topic__title">Últimos Relatos:</h4>
        <div class="topic__content">
        <div class="cards__carousel">
          <section class="cards">
            <article class="card">
              <h4 class="card__title">Título 1</h4>
              <p class="card__description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Assumenda ad doloremque facere sit deleniti hic dicta
                consequuntur et fuga. Quaerat sed et vitae ipsam atque
                voluptatem, quo a eos officia.
              </p>
              <div class="card__meta">
                <span class="author">Anônimo</span>
                <span class="date">03/04/2020</span>
              </div>
            </article>
            <article class="card">
              <h4 class="card__title">Título 2</h4>
              <p class="card__description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Assumenda ad doloremque facere sit deleniti hic dicta
                consequuntur et fuga. Quaerat sed et vitae ipsam atque
                voluptatem, quo a eos officia.
              </p>
              <div class="card__meta">
                <span class="author">Anônimo</span>
                <span class="date">03/04/2020</span>
              </div>
            </article>
            <article class="card">
              <h4 class="card__title">Título 3</h4>
              <p class="card__description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Assumenda ad doloremque facere sit deleniti hic dicta
                consequuntur et fuga. Quaerat sed et vitae ipsam atque
                voluptatem, quo a eos officia.
              </p>
              <div class="card__meta">
                <span class="author">Anônimo</span>
                <span class="date">03/04/2020</span>
              </div>
            </article>
            <article class="card">
              <h4 class="card__title">Título 4</h4>
              <p class="card__description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Assumenda ad doloremque facere sit deleniti hic dicta
                consequuntur et fuga. Quaerat sed et vitae ipsam atque
                voluptatem, quo a eos officia.
              </p>
              <div class="card__meta">
                <span class="author">Anônimo</span>
                <span class="date">03/04/2020</span>
              </div>
            </article>
            <article class="card">
              <h4 class="card__title">Título 5</h4>
              <p class="card__description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Assumenda ad doloremque facere sit deleniti hic dicta
                consequuntur et fuga. Quaerat sed et vitae ipsam atque
                voluptatem, quo a eos officia.
              </p>
              <div class="card__meta">
                <span class="author">Anônimo</span>
                <span class="date">03/04/2020</span>
              </div>
            </article>
          </section>
        </div>
      </div>
      </section>
      <section class="topic">
        <h4 class="topic__title">Melhores do Mês:</h4>
        <div class="topic__content">
        <div class="cards__carousel">
          <section class="cards">
            <article class="card">
              <h4 class="card__title">Título 1</h4>
              <p class="card__description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Assumenda ad doloremque facere sit deleniti hic dicta
                consequuntur et fuga. Quaerat sed et vitae ipsam atque
                voluptatem, quo a eos officia.
              </p>
              <div class="card__meta">
                <span class="author">Anônimo</span>
                <span class="date">03/04/2020</span>
              </div>
            </article>
            <article class="card">
              <h4 class="card__title">Título 2</h4>
              <p class="card__description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Assumenda ad doloremque facere sit deleniti hic dicta
                consequuntur et fuga. Quaerat sed et vitae ipsam atque
                voluptatem, quo a eos officia.
              </p>
              <div class="card__meta">
                <span class="author">Anônimo</span>
                <span class="date">03/04/2020</span>
              </div>
            </article>
            <article class="card">
              <h4 class="card__title">Título 3</h4>
              <p class="card__description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Assumenda ad doloremque facere sit deleniti hic dicta
                consequuntur et fuga. Quaerat sed et vitae ipsam atque
                voluptatem, quo a eos officia.
              </p>
              <div class="card__meta">
                <span class="author">Anônimo</span>
                <span class="date">03/04/2020</span>
              </div>
            </article>
          </section>
      </div>
      </section>
      <section class="topic">
        <h4 class="topic__title">Último Vídeo</h4>
        <div class="topic__content">
          <iframe style="width: 100%;height: 100%;" src="https://www.youtube.com/embed/h1re49VA2bo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </section>
      <section class="topic">
        <h4 class="topic__title">Categorias</h4>
        <div class="topic__content">
          <section class="cards cards-wrap">
            <article class="card">
              <h4 class="card__title">Maledite</h4>
            </article>
            <article class="card">
              <h4 class="card__title">Lobisomen</h4>
            </article>
            <article class="card">
              <h4 class="card__title">OVNIs</h4>
            </article>
            <article class="card">
              <h4 class="card__title">Mistérios</h4>
            </article>
            <article class="card">
              <h4 class="card__title">Quaresma</h4>
            </article>
          </section>
        </div>
      </section>
    </main>
    <footer>
      <span>Assombrado.com.br · 2021</span>
      <div class="social-media">
        <i class="fab fa-youtube"></i>
        <i class="fas fa-globe"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-github"></i>
      </div>
    </footer>
    <!-- <main>
      <section>
        <h5 class="titulo">MEU TOKEN <span id="token"></span></h5>
      </section>
    </main> -->
    <script src="./js/menu_mobile.js"></script>
    <script src="./js/carousel.js"></script>
  </body>
</html>
