<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login · Relatos Assombrados</title>
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/ed7a8cb7c4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/autenticacao/index.css" />
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div class="filter"></div>
    <div class="alert alert-error"></div>
    <div class="alert alert-success"></div>
    <div class="login-container">
      <div class="login-form">
        <div class="logo-container">
          <img src="./img/logo.svg" alt="" class="logo" />
        </div>
        <form action="#" class="form" id="form-login">
          <p>Digite seus dados para entrar</p>
          <input type="text" name="usuario" placeholder="Usuário" required />
          <input type="password" name="senha" placeholder="Senha" required />
          <div class="link-container">
            <a href="#">Esqueci minha senha</a>
          </div>
          <button>Entrar</button>
        </form>
        <div class="link-container link-center">
          <a href="/cadastro">Não tenho uma conta ainda</a>
        </div>
      </div>
    </div>
    <script src="./js/login.js"></script>
  </body>
</html>
