body {
  background-image: url('../../img/autenticacao/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter {
  background-image: radial-gradient(rgba(0, 0, 0, 0.35), rgb(0, 0, 0));
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-form {
  width: 80%;
}

.logo-container .logo {
  width: 60%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form p {
  color: #900000;
  font-size: 13px;
  letter-spacing: 0.14em;
  margin-bottom: 10px;
}

.form input,
.form select {
  background-color: #f0f0f0;
  color: #505050;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px 12px;
  margin-bottom: 4px;
  width: 100%;
  letter-spacing: 0.01rem;
}

.form input:focus,
.form select:focus {
  background-color: rgba(255, 217, 217);
}

.form select option {
  color: #505050;
  border: none;
}

.link-container {
  width: 100%;
  text-align: right;
}

.link-container a {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.01rem;
  font-size: 12px;
}

.form button {
  width: fit-content;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  background-color: #900000;
  border: none;
  border-radius: 2px;
  padding: 8px 30px;
  letter-spacing: 0.18rem;
  margin-bottom: 15px;
  margin-top: 14px;
  /* outline: none; */
}

.link-center {
  text-align: center;
  margin: 0 auto;
}

.alert {
  position: fixed;
  bottom: 4%;
  right: 4%;
  padding: 10px 20px;
  border-radius: 2px;
  opacity: 0;
  letter-spacing: 0.02rem;
  transition: 0.8s all;
}

.alert-success {
  background-color: rgba(39, 174, 96, 0.5);
}

.alert-error {
  background-color: rgba(144, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .login-form {
    width: 65%;
  }
  .logo-container .logo {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .login-form {
    width: 30%;
  }
  .logo-container .logo {
    width: 50%;
  }
  .form input,
  .form select,
  .link-container {
    width: 70%;
  }
}
